SECRET_KEY=+
SESSION_COOKIE_AGE=1209600
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
AUTO_REJECT_BOOKINGS_INTERVAL=

KHALTI_INITIATE_URL=https://dev.khalti.com/api/v2/epayment/initiate/
KHALTI_LOOKUP_URL=https://dev.khalti.com/api/v2/epayment/lookup/
KHALTI_API_SECRET=


DB_NAME=photoplat_db
DB_USER=
DB_PASSWORD=
DB_HOST=db
DB_PORT=5432

# Redis
REDIS_URL=redis://redis:6379/0